@charset "UTF-8";
.blinking {
  animation: blink 5s infinite;
}
@keyframes blink {
  50% {
    opacity: 0;
  }
}

.subPop_container {
  position: relative;
  bottom: 0;
  width: 100%;
  height: 0;
  transition: all 0.5s ease;
  z-index: 500;
  background-size: cover;
  background-position: center;
  background-color: rgba(0, 0, 0, 1);
  overflow: hidden;
  &.on {
    transform: translateY(0);
    height: 100%;
    max-height: 100vh;
  }
  &.off {
    transform: translateY(100%);
    height: 0vh;
  }
  .subPop_div {
    position: relative;
    display: flex;
    height: calc(100% - 3rem);
    overflow-y: auto;
  }
  .btn_back {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    color: #c2daf7;
    width: 100vw;
    background-color: rgba(0, 0, 0, 1);
    height: 3rem;
  }
}

.tip_container {
  position: fixed;
  min-height: 3rem;
  max-height: 3rem;
  width: 99%;
  display: flex;
  border: 1px solid blue;
  align-items: center;
  justify-content: center;
}
.title_container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  .btn_title {
    color: #c2daf7;
    width: 100vw;
    flex: 1;
    border: none;
    background-color: rgba(255, 255, 255, 0);
  }
  .btn_title:disabled {
    color: grey;
    cursor: not-allowed;
  }
  
  .btn_scene {
    border: 1px solid;
    padding: 1rem;
    color: #c2daf7;
    width: 80vw;
    flex: 1;
    background-color: rgba(255, 255, 255, 0);
  }
}
.sub_layout_container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8); /* 반투명한 회색 배경 */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* 다른 엘리먼트 위에 표시하기 위한 z-index 값 */
  .sub_layout_btn_area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .sub_layout_btn {
      color: #c2daf7;
      width: 80vw;
      max-height: 6rem;
      flex: 1;
      border: 2px solid white;
      background-color: rgba(0, 0, 0, 1);
      margin: 0.8rem;
    }
    .sub_layout_btn:disabled {
      color: grey;
      cursor: not-allowed;
    }
  }
}

.title_footer {
  margin-top: 4rem;
  max-height: 4rem;
  .btn_back {
    margin-top: auto;
    width: 12rem;
    flex: 1;
    border: 1px solid white;
    border-color: white;
    background-color: rgba(255, 255, 255, 0);
    color: #c2daf7;
    font-size: 2rem;
  }
}

