// LayoutHeader.scss
@charset "UTF-8";
.layout_header {
	position: fixed;
	z-index: 500;
	width: 100%;
	background-color: rgba(0, 0, 0, 1);
	.tips_container {
		border: 2px solid white;
		height: 100%;
	}

	.profile_container {
		margin-bottom: constant(safe-area-inset-bottom);
		margin-bottom: env(safe-area-inset-bottom);
		display: flex;
		align-items: center;
		
		.profile_img {
			height: 4.0rem;
			border: 2px solid black;
			margin: 0.4rem;
		}
		.profile_data {
			overflow: hidden;
			display: flex;
			flex-direction: row;
			width:100%;
			h3 {
					text-align: center;
			}
		}
		.profile_data + .profile_data {
			margin-top: 0.4rem;
		}
  
		.btn_menu {
			margin:0.4rem;
			display: flex;
			height: 3.0rem;
			width: 3.0rem;
			align-items: center;
			justify-content: center;
			.menu-icon {
				align-items: center;
				cursor: pointer;
				display: inline-block;
				position: absolute;
				z-index: 2;
				user-select: none;
			}
		
			.menu-icon .menu-sticks {
				background: rgb(255, 255, 255);
				display: block;
				height: 2px;
				position: relative;
				transition: all .2s ease-out;
				width: 2rem;
			}
  
			.menu-icon .menu-sticks:before,
			.menu-icon .menu-sticks:after {
				background: rgb(255, 255, 255);
				content: '';
				display: block;
				height: 100%;
				position: absolute;
				transition: all .2s ease-out;
				width: 100%;
			}
			.menu {
				position: absolute;
				top: 4.8rem;
				right: 0;
				max-height: 100vh;
				transition: max-height 0.5s ease, height 0.5s ease, opacity 0.5s ease;
				z-index: 1;
				background-color: #eee;
				overflow: hidden;
				opacity: 0;
			}
			//상단 메뉴아이콘 animation
			.menu-icon .menu-sticks:before {
				top: 10px;
			}
			.menu-icon .menu-sticks:after {
				top: -10px;
			}
			.menu-check {
					display: none;
			}
			.menu-check:checked~.menu {
					max-height: 100vh;
					height: calc(100vh - 4.8rem);
					opacity: 1;
			}
			.menu-check:not(:checked)~.menu {
				max-height: 0;
				height: 0;
				border: none;
				opacity: 0;
			}
			.menu-check:checked~.menu-icon .menu-sticks {
					background: transparent;
			}
			
			.menu-check:checked~.menu-icon .menu-sticks:before {
					transform: rotate(-45deg);
			}
			
			.menu-check:checked~.menu-icon .menu-sticks:after {
					transform: rotate(45deg);
			}
			
			.menu-check:checked~.menu-icon:not(.steps) .menu-sticks:before,
			.menu-check:checked~.menu-icon:not(.steps) .menu-sticks:after {
					top: 0;
			}
    }

    ul{
        flex: 8;
        li {
            position: relative;
            flex: 1;
            flex-direction: row;
            align-items: center;
        }
    }
	}
}