@charset "UTF-8";
.layer_menu {
  background-color: gray;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-height: 100%;
  .user_info_container {
    flex: 1;
    min-height: 8rem;
    max-height: 8rem;
    background-color: rgb(8, 6, 6);
    overflow-y: hidden;
    border: 0.2em solid blueviolet;
  }
  div {
    flex: 1;
    width: 100vw;
    padding: 1.3rem;
  }
  ul {
    flex: 1;
    list-style-type: none;
    margin: 0;
    
    li {
      width: 100%;
      border-bottom: 0.2em solid gray;
    }
  }
}