@charset "UTF-8";

#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #c2daf7;
    background-image: url("@/assets/images/common/background.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
  }
  
  #app_body {
    margin-top: 12vh;
  }